<nav class="navbar navbar-exapnd-lg navbar-dark bg-dark border-bottom">
    <div class="container-fluid">
        <!-- 배너 -->
        <span>
        <a class="navbar-brand" href="{% url 'board:index' %}">Home</a>
        <!-- Log in -->
        {% if user.is_authenticated %}
        <a class="navbar-text text-decoration-none" href="{% url 'common:logout' %}">Logout</a>
        {% else %}
        <a class="navbar-text text-decoration-none" href="{% url 'common:login' %}">Login</a>
        {% endif %}
        </span>
        <!-- Button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navigationBar" aria-expanded="false" aria-controls="navigationBar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas bg-dark offcanvas-end" data-bs-scroll="true" tabindex="-1" id="navigationBar" aria-labelledby="navigationBarLabel">
            
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" style="color:seashell">Title</h5>
                <button class="btn-close text-reset" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'board:index' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active">No href</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navigationBarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navigationBarDropdown">
                            <li><a class="dropdown-item" href="#">dropdown-item1</a></li>
                            <li><a class="dropdown-item" href="#">dropdown-item2</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">dropdown-item3</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>