<nav class="navbar bg-dark pos-f-t navbar-exapnd-lg navbar-dark border-bottom">
    <div class="container-fluid">
        <!-- 배너 -->
        <span>
        <a class="navbar-brand" href="{% url 'board:index' %}">Home</a>
        <!-- Log in -->
        {% if user.is_authenticated %}
        <a class="navbar-text text-decoration-none" href="{% url 'common:logout' %}">Logout</a>
        {% else %}
        <a class="navbar-text text-decoration-none" href="{% url 'common:login' %}">Login</a>
        {% endif %}
        </span>
        <!-- Toggle Button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navigationBar" aria-expanded="false" aria-controls="navigationBar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas bg-dark offcanvas-end" data-bs-scroll="true" tabindex="-1" id="navigationBar" aria-labelledby="navigationBarLabel">
            
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" style="color:seashell">Title</h5>
                <button class="btn-close text-reset" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <!-- Menu -->
            <div class="offcanvas-body">
                {% include "navmenu.html" %}
            </div>
        </div>
    </div>
</nav>