
<!-- Comment List -->
<div class="container container-fluid pt-3 px-4">
    <!-- Header -->
    <h5 class="text pb-3">
        <strong>Comments</strong>
    </h5>

    <!-- Comment Items -->
    {% if post.comment_set.count %}
        {%for comment in comments %}
        <dl class="row rounded-3 border-bottom py-3" style="background: #333333;">
            <!-- if click Comment, Reply -->
            <div class="col row position-relative">
                <!-- Logic when Clicked -->
                <dt class="ms-1">
                    <a href="#" class="stretched-link"></a>
                    {{ comment.author }}
                </dt>
                
                <!-- Content -->
                <dd class="col-sm text-wrap text-break">
                    {{ comment.content|safe }}
                </dd>
                <!-- Create Date-->
                <dd class="small col-sm-3">
                    {{ comment.create_date }}    
                </dd>
            </div>
            <!-- Delete Icon -->
            <div class="col-1 text-end me-3">
                {% if comment.author == request.user %}
                    <a type="button" class="btn text-white" data-bs-toggle="modal"
                        data-bs-target="#deleteComment">
                        <i class="far fa-trash-alt"></i>
                    </a>
                    <!-- Modal popup-->
                    <div class="modal fade" id="deleteComment" tabindex="-1" aria-labelledby="modifyModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title text-dark" id="modifyModalLabel">정말 삭제 하시겠습니까?</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                                    <a class="btn btn-primary"
                                        href="{% url 'board:comment_delete' comment.id  %}">네</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </dl>
    {%endfor%}
    {% else %}
        <div class="container-flud text-center pb-3">
            No Comment.
        </div>
    {% endif %}
</div>
