<!-- Post Header -->
<div class="row">
    <!-- Subject -->
    <div class="col">
        <h1 class="h2">{{post.subject}}</h1>
    </div>
    <!-- Create date -->
    <div class="col text-muted text-end">
        <small>{{post.create_date}}</small>
    </div>
</div>

    <!-- Chcek valid route -->
    {% if messages %}
        <div class="alert alert-danger my-3" role="alert">
        {% for message in messages %}
            <strong>{{ message.tags }}</strong>
            <ul><li>{{ message.message }}</li></ul>
        {% endfor %}
        </div>
    {% endif %}
<!-- Author, Modify/Delete -->
<span class="small text">
    <span class="text-muted">글쓴이:</span> 
    {{ post.author }} 

    {% if post.author == request.user %}    
    <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal"
        data-bs-target="#postModify">
        수정
    </button>
    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
        data-bs-target="#postDelete">
        삭제
    </button>
    <!-- Modal popup-->
    <div class="modal fade" id="postModify" tabindex="-1" aria-labelledby="postModifyLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <h5 class="modal-title text-dark" id="postModifyLabel">정말 수정 하시겠습니까?</h5>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
              <a class="btn btn-primary"
              href="{% url 'board:post_modify' post.id  %}">네</a>
            </div>
          </div>
        </div>
      </div>
    <div class="modal fade" id="postDelete" tabindex="-1" aria-labelledby="postDeleteLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <h5 class="text-dark" id="postDeleteLabel">정말 삭제 하시겠습니까?</h5>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
              <a class="btn btn-primary"
              href="{% url 'board:post_delete' post.id  %}">네<sp></a>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
</span>

<!-- Content -->
<div class="container border-bottom border-top container-fluid py-5 mt-3 mx-auto">
    {{ post.content|safe|linebreaksbr}}
</div>

<!-- Likes -->
<div class="col-12 text-center justify-content-center border-bottom border-secondary pb-3">
    <!-- 추천영역 -->
    <div class="card start-50 translate-middle text-black" style="width: 5rem; border-radius: 1rem;">
        <span>
            <span class="text-primary">{{post.liked.count}}</span> / <span class="text-danger">{{post.disliked.count}}</span>
        </span>
    </div>
    <span>
        <a href="#" data-uri="{% url 'board:post_like' post.id %}"
          class="like btn btn-sm btn-primary btn-block my-1">추천</a>
        <a href="#" data-uri="{% url 'board:post_dislike' post.id %}"
          class="dislike btn btn-sm btn-danger btn-block my-1">비추천</a>
    </span>
</div>