{%extends 'base.html'%}
{%block content%}
<!--
<form action="" method="POST">
    {% csrf_token %}
    <table>
        {{form.as_p}}
    </table> 
    <input type="submit" value="제출">
</form>
-->
<div class="container">
    <h5 class="my-3 border-bottom pb-2">글쓰기</h5>
    <form method="post", class="post-form my-3">
        {%csrf_token%}
        {%if form.errors%}
        <div class="alert alert-danger" role="alert">
            {%for field in form%}
                {%if field.errors%}
                <strong>{{field.label}}</strong>
                {{field.errors}}
                {%endif%}
            {%endfor%}
        </div>
        {%endif%}
        <div class="form-group">
            <label for="subject" class="my-2">Subject</label>
            <input type="text" class="form-control" name="subject" id="subject" value="{{form.subject.value|default_if_none:''}}">
        </div>
        <div class="form-group">
            <label for="content" class="my-2">Content</label>
            {{ form.content }}
            <!--
            <textarea contentEditable="true" class="form-control" name="content" id="content" rows="15" style="resize: none;">
                {{form.content|default_if_none:''}}
            </textarea>
            -->
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
{% endblock %}