<!-- Post, Comment -->
{%extends 'base.html'%}
{%block content%}
<div class="container border border-secondary rounded-3 container-fluid mt-5 p-5">
    {{ post.update_hits }}
    {% include "board/post_form.html" %}
    {% include "board/comment_form.html" %}
    {% include "board/reply_form.html" %}
</div>
{% endblock %}
{% block script %}
<script type='text/javascript'>
    $(document).ready(function(){
        $('.like').on('click', function(){
            location.href = $(this).data('uri');
        });
    });
    $(document).ready(function(){
        $('.dislike').on('click', function(){
            location.href = $(this).data('uri');
        });
    });
    $(document).ready(function(){
	$('.reply').on('keydown', function(event){
	    if(event.keyCode==13)
		if(!event.shiftKey){
		    event.preventDefault();
		    $('#replyForm').submit();
		}
	})
    })
</script>
{% endblock %}
