<!-- Post Header -->
{{ post.update_hits }}
<div class="row">
    <!-- Subject -->
    <div class="col">
        <h1 class="h2">{{post.subject}}</h1>
    </div>
    <!-- Create date -->
    <div class="col text-muted text-end">
        <small>{{post.create_date}}</small>
    </div>
</div>

    <!-- Chcek valid route -->
    {% if messages %}
        <div class="alert alert-danger my-3" role="alert">
        {% for message in messages %}
            <strong>{{ message.tags }}</strong>
            <ul><li>{{ message.message }}</li></ul>
        {% endfor %}
        </div>
    {% endif %}
<!-- Author, Modify/Delete -->
<span class="small text">
    <span class="text-muted">Author:</span> 
    {{ post.author }} 

    {% if post.author == request.user %}
    <a href="{% url 'board:post_modify' post.id  %}" 
    class="text-decoration-none text-warning small">[Modify]</a>
    
    <a href="#" class="delete text-warning text-decoration-none small"
    data-uri="{% url 'board:post_delete' post.id %}">[Delete]</a>
    {% endif %}
</span>

<!-- Content -->
<div class="container border-bottom border-top container-fluid py-5 mt-3 mx-auto">
    {{post.content}}
</div>

<!-- Likes -->
<div class="col-12 text-center justify-content-center">
    <!-- 추천영역 -->
    <div class="card start-50 translate-middle text-black" style="width: 5rem; border-radius: 1rem;">
        <span>
            <span class="text-primary">{{post.liked.count}}</span> / <span class="text-danger">{{post.disliked.count}}</span>
        </span>
    </div>
    <span>
        <a href="#" data-uri="{% url 'board:post_like' post.id %}"
        class="like btn btn-sm btn-primary btn-block my-1">추천</a>
        <a href="#" data-uri="{% url 'board:post_dislike' post.id %}"
        class="dislike btn btn-sm btn-danger btn-block my-1">비추천</a>
    </span>
</div>