{% extends 'base.html' %}
{% load board_filter %}
{% block content %}
<div class="container container-fluid py-5">
    <table class="table table-hover table-dark">
        <thead>
            <tr class="text-center">
                <th class="col-1">#</th>
                <th class="col">Subject</th>
                <th class="col-2">Author</th>
                <th class="col-2">Date</th>
            </tr>
        </thead>
        <tbody>
            {%if question_list %}
            {%for question in question_list %}
            <!-- Lists -->
            <tr class=" align-middle">
                <!-- ID -->
                <td class="text-center">
                    {{ question_list.paginator.count|sub:question_list.start_index|sub:forloop.counter|add:1 }}
                </td>
                <!-- 제목 -->
                <td>
                    <a href="{% url 'board:detail' question.id %}" class="text-light text-decoration-none">
                        {{ question.subject }}
                    </a>
                    <!-- 댓글 갯수 -->
                    {% if question.comment_set.count > 0 %}
                        <span class="text-danger small ml-2">
                            [{{ question.comment_set.count }}]
                        </span>
                    {% endif %}
                </td>
                <!-- 작성자 -->
                <td class="text small text-center">
                    {{ question.author }}
                </td>
                <!-- 작성일자 -->
                <td class="text-muted text-center small">
                    {{ question.create_date|date:'Y.m.d. a h:i' }}
                </td>
            </tr>
            {%endfor%}
            {%else%}
            <tr>
                <td colspan="3">No Data.</td>
            </tr>
            {%endif%}
        </tbody>
    </table>

    <ul class="pagination justify-content-center">
        
        {% if question_list.number != 1 %}
        <li class="page-item">
            <a class="page-link" href="?page=1">&laquo;</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">&laquo;</a>
        </li>
        {% endif %}

        {% if question_list.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ question_list.previous_page_number }}">&lt;</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">&lt;</a>
        </li>
        {% endif %}

        {% for page_number in question_list.paginator.page_range %}
        {% if page_number >= question_list.number|add:-3 and page_number <= question_list.number|add:3 %}
            {% if page_number == question_list.number %}
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% else %}
            <li class="page-item" aria-current="page">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% endif %}
        {% endif %}
        {% endfor %}

        {% if question_list.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ question_list.next_page_number }}">&gt;</a>
        </li>
        {% else %} 
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">&gt;</a>
        </li>
        {% endif %}
        {% if question_list.number != question_list.paginator.num_pages %}
        <li class="page-item">
            <a class="page-link" href="?page={{question_list.paginator.num_pages}}">&raquo;</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">&raquo;</a>
        </li>
        {% endif %}

    </ul>
    <a href="{%url 'board:question_create'%}" class="btn btn-primary">글쓰기</a>
</div>
{% endblock %}
